html{
    background-color:black;
}
header{
    color:white;
    font-family: Arial;
    margin: 0 auto 0 auto;
    text-align: center;
    font-weight: bold;
}
img{
    display: block;
    margin: 0 auto 0 auto;
}
p{ 
    font-family: Arial;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    border:1px black;
    border-radius: 5px;
    opacity: 0.5;
    filter: opacity(50);
    margin: 25px;
}
h3{
    font-family: Arial;
    color:whitesmoke;
    text-align: center;
}
.link{
    text-decoration-color: darkgray;
    color: white;
}
footer{
    color: lightgray;
}